/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-May-2015, 12:46:01
    Author     : connell
*/

#seesaw{
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 5px #f86d6d solid;							
    width:100%;
    margin-top: 150px;
    
    
    //Transform origin point - x & y axis
    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%; 
    -webkit-transform-origin: 50% 0%;

    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;

}

#fulcrum{
    display: block;
    text-align: center;
    margin: auto;
    width: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 70px 40px;
    border-color: transparent transparent #007bff transparent;
}

.centerdiv{
    display: block;
    text-align: center;
}

.s{
    display: inline-block;
    width: 9%;
    padding:0;
    margin: 0;
    bottom: 0;
    vertical-align: bottom;

}

.goalcolumn{
    display:block;
    color: #FFF;
    font-size: 2em;
    border: 1px #555 solid;
    text-align: center;
    line-height: 100%;
    width: 100%;
    display: inline-block;
    background: #08C;
}

.goalblock{
    color: #FFF;
}

.seesawarea{
    text-align: center;
    
}

#balchart{
    width:100%;
    padding: 0;
    text-align: center;
}

#op1_bar{
    margin: 0px;
    display: inline-block;
    background: #3498db;
    font-size: 1.3em;
    width:50%;
    height: 2em;
    line-height: 2em;
}
#op2_bar{
    margin: 0px;
    display: inline-block;
    background: #27ae60;
    font-size: 1.3em;
    width:50%;
    height: 2em;
    line-height: 2em;
}


#goalarea, #balancearea{
    margin-top: 30px;
    text-align: center;
    
}

#goalarea, #balancearea, h3{
    margin-bottom: 20px;
}

.bal_label{
    margin-top: 10px;
    text-align: left;
}
#seesaw_key{
    //display: inline-block;
    float: left;
    
}

.seesaw_key{
    display: block;
}

.seesaw_key div{
    min-width: 1.5em;
    float: left;
    margin-left: 1.5em;
    
}

key_text{
    display: inline-block;
}

key_color{
    display: inline-block;
}


//Hack-y override of default slider css (duplicated in slider css file)
.slider.slider-horizontal {
    width: 100%;
    margin-top:10px;
}


//Goal Circle + Handle Colours:

#goal1_circle, #slider1 .slider-handle{
    background:#149BDF;
    background-image: linear-gradient(#149BDF 0px, #0480BE 100%);
}
#goal2_circle, #slider2 .slider-handle{
    background:#00D881;
    background-image: linear-gradient(#00D881 0px, #008745 100%);
}
#goal3_circle, #slider3 .slider-handle{
    background:#B600C8;
    background-image: linear-gradient(#B600C8 0px, #7B0087 100%);
}
#goal4_circle, #slider4 .slider-handle{
    background:#FF984D;
    background-image: linear-gradient(#FF984D 0px, #AB6E04 100%);
}
#goal5_circle, #slider5 .slider-handle{
    background:#FF5557;
    background-image: linear-gradient(#FF5557 0px, #B70F0F 100%);
}


.g1{
    background:#149BDF;
    background-image: linear-gradient(#149BDF 0px, #0480BE 100%);
}

.g2{
    background:#00D881;
    background-image: linear-gradient(#00D881 0px, #008745 100%);
}
.g3{
    background:#B600C8;
    background-image: linear-gradient(#B600C8 0px, #7B0087 100%);
}
.g4{
    background:#FF984D;
    background-image: linear-gradient(#FF984D 0px, #AB6E04 100%);
}
.g5{
    background: #FF5557;
    background-image: linear-gradient(#FF5557 0px, #B70F0F 100%);
}